:root {
    --content-max-width: 900px;
}

/* mdbook margins are way too big */
h2, h3 {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}
h4, h5 {
    margin-block-start: 0.8em;
    margin-block-end: 0.4em;
}
