name: Generate ebook

on: ['push']

jobs:
  ebook:
    name: Build and upload
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
    - name: Setup mdBook
      uses: peaceiris/actions-mdbook@v1
      with:
        mdbook-version: '0.4.19'
    - name: Setup nodejs
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Setup linter and spellchecker cli
      run: npm install --location=global markdownlint-cli cspell
    - name: Lint markdown files
      run: markdownlint src/**/*.md
    - name: Run spellcheck
      run: cspell src/**/*.md
    - name: Build the book
      run: mdbook build
    - name: Deploy to Github Pages
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/master' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./book
